/* .navbar-expand-lg {
    background: #c4daf2;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1199px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 12px;
        padding: 20px 10px;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
} */

