<div class="container mt-4 col-md-6">
    <div class="header">
        <h1>Employee List</h1>
        <a routerLink="/add-employee" class="btn btn-primary">Add New Employee</a>
      </div>
    
      <div class="row d-flex flex-row-reverse">
        <form class="d-flex col-md-5" (ngSubmit)="search()">
          <input
            (ngSubmit)="search()"
            [(ngModel)]="searchId"
            name="s"
            class="form-control me-2 search-input"
            type="search"
            placeholder="search employee id"
            aria-label="Search"
          />
          <button class="btn btn-primary search-btn" type="submit">
            <img src="/assets/search2.svg" alt="" />
          </button>
        </form>
      </div>


    <ul class="list-group mt-3">
      <li class="list-group-item" *ngFor="let employee of employees">
        <div class="d-flex justify-content-between align-items-start">
          <div>
            <div><strong>ID:</strong> {{ employee.userId }}</div>
            <div><strong>Name:</strong> {{ employee.name }}</div>
            <div><strong>Email:</strong> {{ employee.email }}</div>
            <div><strong>Contact:</strong> {{ employee.contactNo }}</div>
          </div>
          <div>
            <div class="btn-group" role="group" aria-label="Employee Actions">
              <button class="btn btn-primary" (click)="viewEmployee(employee.userId)">View</button>
              <button class="btn btn-success" (click)="editEmployee(employee.userId)">Edit</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  